.container {
    min-height: 100vh;
    margin-bottom: 4rem;
    
}

.header {
    margin-block: 8rem 4rem;

    .headText {
        span {
            color: var(--black-color);
        }
    }
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .blogFilter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;


    .filterItem {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: var(--gray-color);
      color: var(--white-color);
      text-transform: uppercase;
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0.5rem;
      display: flex;
      gap: .3rem;
      align-items: center;

  
      &:hover, &:focus {
        background-color: var(--brown-color);
      }

      &.active {
        background-color: var(--brown-color);
      }
  
      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
    }
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2.5rem;
    row-gap: 4rem;
    place-items: center;
    max-width: 100%;
    padding-inline: 1rem;
    
}

